<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/user.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <div class="name">
                <h2><span style="font-size:20px">Hello, </span><%=user.username%></h2>
            </div>
            <div class="container con1">
                <div class="menText">
                    <h2 style="color:white">Men</h2>
                </div>
                <div class="products">
                    <div class="men">
                            <%for(let item of items){%>
                                <%if(item.categery==='Male'){%>
                                <div class="forBuy">
                                    <div class="card" id='<%=item._id%>'  onclick=show(this.id)>
                                        <img src=<%=item.img%> alt=""></img>
                                        <div class="price">
                                            <h3 style="color:green">@<%=item.price%></h3>
                                        </div>
                                        <h5 class='itemName' style="font-size: 20px;width:220px;;color:white;padding:0px;"> 
                                            <%if(item.name.length<25){%>
                                                <%=item.name%>
                                            <%}else{%>
                                                <%=slcN(item.name)%>...
                                                <%}%>
                                        </h3>
                                        <div class="manrat" >
                                            <h5 style="color:white; font-size: 14px;">By
                                                <%if(item.manufracturer.length<19){%>
                                                    <%=item.manufracturer%>
                                                <%}else{%>
                                                    <%=slcM(item.manufracturer)%>...
                                                    <%}%>
                                                </h5>
                                            <h5 style="color:orange; font-size: 14px;">Rating <%=item.rating%></h5>
                                        </div>
                                    </div>
                                    
                                    <div class="buy" style="margin-left:38px;margin-top: 10px;display: flex;align-items: center;">
                                        <button id='<%=item._id%>' onclick="addItem(this.id)"
                                            <%for(let itm of userItems){%>
                                                <%if(itm._id.toString()==item._id.toString()){%>
                                                    <%check = 1 %>
                                                    <%break%>
                                                <%}%>
                                            <%}%>
                                            <%if(check==1){%>
                                                class='btn' style="width:153px;height:35px;border-radius: 20px;background-color:#383838; color:white;justify-content:center;" disabled><span><img style="width:20px;height:15px;margin-bottom: 5px;" disabled src="/tick.png" alt=""></span> Added</button>
                                                <%check=0%>
                                            <%}else{%>
                                                class="btn btn-primary" style="width:153px;height:35px;border-radius: 20px;" onclick=''><span><img style="width:15px;height:21px" src="/shopping-bag.png" alt=""></span> BUY</button>
                                            <%}%>
                                            
                                    </div>
                                    
                                </div>
                                <%}%>
                            <%}%>
                    </div>
                    <div class="women">
                        <h2 class="wmnText" style="color:white">Women</h2>
                        <div class="wmnProducts">
                            <%for(let item of items){%>
                                <%if(item.categery=='Female'){%>
                                <div class="forBuy">
                                    <div class="card" id='<%=item._id%>' onclick=show(this.id)>
                                        <img src=<%=item.img%> alt=""></img>
                                        <div class="price">
                                            <h3 style="color:green">@<%=item.price%></h3>
                                        </div>
                                        <h5 class='itemName' style="font-size: 20px;width:220px;;color:white;padding:0px;"> 
                                            <%if(item.name.length<25){%>
                                                <%=item.name%>
                                            <%}else{%>
                                                <%=slcN(item.name)%>...
                                                <%}%>
                                        </h3>
                                        <div class="manrat" >
                                            <h5 style="color:white; font-size: 14px;">By
                                                <%if(item.manufracturer.length<19){%>
                                                    <%=item.manufracturer%>
                                                <%}else{%>
                                                    <%=slcM(item.manufracturer)%>...
                                                    <%}%>
                                                </h5>
                                            <h5 style="color:orange; font-size: 14px;">Rating <%=item.rating%></h5>
                                        </div>
                                    </div>
                                    
                                    <div class="buy" style="margin-left:38px;margin-top: 10px;display: flex;align-items: center;">
                                        <button id='<%=item._id%>' onclick="addItem(this.id)" 
                                            <%for(let itm of userItems){%>
                                                <%if(itm._id.toString()==item._id.toString()){%>
                                                    <%wcheck = 1 %>
                                                    <%break%>
                                                <%}%>
                                            <%}%>
                                            <%if(wcheck==1){%>
                                                class='btn' style="width:153px;height:35px;border-radius: 20px;background-color:#383838; color:white;justify-content:center;" disabled><span><img style="width:20px;height:15px;margin-bottom: 5px;" src="/tick.png" alt=""></span> Added</button>
                                                <%wcheck=0%>
                                            <%}else{%>
                                                class="btn btn-primary" style='width:153px;height:38px;border-radius:20px' ><span><img style="width:15px;height:21px" src="/shopping-bag.png" alt=""></span> BUY</button>
                                            <%}%>
                                            
                                    </div>
                                    
                                </div>
                                <%}%>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <nav class="nv">
            <div class="navItems">
                <div class="logout" style="margin-right: 0px;">
                    <a href="/logout" style="color:white" class="btn">Logout</a>
                </div>
                <div class="admImg" onclick="userUdate()">
                </div>
                <div class="admName">
                    <h3><%=user.username%></h3>
                </div>
                <button class="btn btnHome" >HOME</button><br>
                <div class="bagScr" style="display:flex;flex-direction:row;height:40px;align-items: center;">
                    <button class="btn btnAdd" style="padding:0px;" onclick="userBag()">MY BAG</button>
                    <%if(user.items.length>0){%>
                        <div class="scr" style="margin-bottom:10px;text-align:center;width:25px;height:25px;border-radius:100%;background-color: orange;color:white;
                    display: flex;justify-content: center;align-items: start;align-self: start;">
                        <p style="margin-bottom:10px;font-size: 17px;"><%=user.items.length%></p>
                    </div>
                        <%}%>

                </div>
                <img class='navImg' src="/mybagshop-white.png" alt="">
            </div>
        </nav>
        <!-- <div class="logout">
            <button class="btn">Logout</button>
        </div> -->
        
    </main>
    <script>
        function userBag(){
            document.location.href = '/userbag';
        }

        function show(_id){
            document.location.href = '/usershow/'+_id;
        }

        function addItem(id){
            document.location.href = '/buy/'+id;
        }
        function userUdate(){
            document.location.href = '/userUpdate';
        }
    </script>
</body>
</html>